# EDA

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("zomato.csv")

In [59]:
pd.set_option('display.max_columns', None)
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619

In [5]:
df.dtypes

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking         int64
Has Online delivery       int64
Is delivering now         int64
Switch to order menu      int64
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

In [6]:
df.shape

(7527, 21)

## Limpeza dos dados

In [60]:
df1 = df.copy()

# verificando valores nulos no dataset
linhas_vazias = df1.isnull().sum()

# renomear colunas para facilitar a manipulação
df1.columns = ["restaurant_id", "restaurant_name", "country_code", "city", "address", "locality", "locality_verbose", "longitude", "latitude", "cuisines", "average_cost_for_two", "currency", "has_table_booking", "has_online_delivery", "is_delivering_now", "switch_to_order_menu", "price_range", "aggregate_rating", "rating_color", "rating_text", "votes"]

In [65]:
df1.head(2)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619

## Visão Geral

1. Quantos restaurantes únicos estão registrados?

In [66]:
df1['restaurant_id'].nunique()

6942

 2. Quantos países únicos estão registrados?

In [67]:
df1['country_code'].nunique()

15

3. Quantas cidades únicas estão registradas?

In [68]:
df1['city'].nunique()

125

4. Qual o total de avaliações feitas?

In [69]:
len(df1['rating_text'].unique())

28

 5. Qual o total de tipos de culinária registrados?

In [70]:
df1['cuisines'].nunique()

2832

In [71]:
df1.head(2)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619

## Visão País

1. Qual o nome do país que possui mais cidades registradas?

In [79]:
# nome do pais que possui mais cidades registradas
pais_mais_cidades = df1['country_code'].value_counts().idxmax()
numero_de_cidades = df1['country_code'].value_counts().max()
print(f" {pais_mais_cidades} é o país com maior número de cidades registradas, {numero_de_cidades} cidades registradas")

 1 é o país com maior número de cidades registradas, 3507 cidades registradas

In [51]:
COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}

def country_name(country_id):
    return COUNTRIES.get(country_id, 'Unknown Country')

In [74]:
# corresponder o nome do pais ao id do país
df1['country_name'] = df1['country_code'].apply(country_name)

In [75]:
df1.head(2)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,country_name
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619,Philippines

2. Qual o nome do país que possui mais restaurantes registrados?

In [77]:
pais_mais_restaurantes = df1['country_name'].value_counts().idxmax()
pais_mais_restaurantes

'India'

3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [80]:
pais_com_mais_restaurantes_com_preco_igual_a_4 = df1['country_name'][df1['price_range'] == 4].value_counts().idxmax()
pais_com_mais_restaurantes_com_preco_igual_a_4

'United States of America'

4. Qual o nome do país que possui a maior quantidade de tipos de culinária
distintos?

In [88]:
# agrupar por país e contar o número de tipos  únicos de cozinhas para cada país
tipos_cozinhas_por_pais = df1.groupby('country_name')['cuisines'].nunique()
print(f"TIpos de cozinhas por país:{tipos_cozinhas_por_pais}")

# encontrar o país com maior quantidade de tipos de cozinha
pais_com_maior_quantidade_de_tipos_de_cozinha = tipos_cozinhas_por_pais.idxmax()
print(f"País com maior quantidade de tipos de cozinha é {pais_com_maior_quantidade_de_tipos_de_cozinha}")

TIpos de cozinhas por país:country_name
Australia                    116
Brazil                       108
Canada                       119
England                      190
India                       1449
Indonesia                     40
New Zeland                   113
Philippines                   43
Qatar                         55
Singapure                     66
South Africa                 203
Sri Lanka                     63
Turkey                        81
United Arab Emirates         201
United States of America     534
Name: cuisines, dtype: int64
País com maior quantidade de tipos de cozinha é India

5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [90]:
# agrupar por pais e contar a maior quantidade de avaliações feitas
maior_quantidade_de_avaliacoes_por_pais = df1.groupby('country_name')['votes'].max()
print(f"Maior quantidade de avaliações por país: {maior_quantidade_de_avaliacoes_por_pais}")

# encontrar o país com maior quantidade de avaliações
pais_com_maior_quantidade_de_avaliacoes = maior_quantidade_de_avaliacoes_por_pais.idxmax()
print(f"País com maior quantidade de avaliações é {pais_com_maior_quantidade_de_avaliacoes}")

Maior quantidade de avaliações por país: country_name
Australia                    2855
Brazil                         73
Canada                       2157
England                      1023
India                       41333
Indonesia                    4416
New Zeland                   1287
Philippines                  1832
Qatar                        1361
Singapure                     100
South Africa                 1462
Sri Lanka                     376
Turkey                       2015
United Arab Emirates         4227
United States of America     4036
Name: votes, dtype: int64
País com maior quantidade de avaliações é India