# Projeto Fome Zero

## Tratamento do dataset

In [2]:
import pandas as pd
import numpy as np
import inflection

### Funções auxiliares

In [1]:
# dicionário com os nomes dos países com base no código de cada país
# substituindo o código pelo nome do país
COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}


def country_name(country_id):
    return COUNTRIES.get(country_id, 'Unknown Country')

In [ ]:
# retorna o tipo de comida com base no range de valores
def create_price_type(price_range):
    match price_range:
        case 1:
            return "cheap"
        case 2:
            return "normal"
        case 3:
            return "expensive"
        case _:
            return "gourmet"

In [ ]:
# nome das cores com base nos códigos de cores
# substituindo o código de cor pelo nome da cor
COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}


def color_name(color_code):
    return COLORS[color_code]

In [10]:
# renomear as colunas do DataFrame
def rename_columns(dataframe):
    df = dataframe.copy()
    def title(x): return inflection.titleize(x)
    def snakecase(x): return inflection.underscore(x)
    def spaces(x): return x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

### Analisando o dataset

In [13]:
df = pd.read_csv("../dataset/zomato.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7527 entries, 0 to 7526
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         7527 non-null   int64
 1   Restaurant Name       7527 non-null   object
 2   Country Code          7527 non-null   int64
 3   City                  7527 non-null   object
 4   Address               7527 non-null   object
 5   Locality              7527 non-null   object
 6   Locality Verbose      7527 non-null   object
 7   Longitude             7527 non-null   float64
 8   Latitude              7527 non-null   float64
 9   Cuisines              7512 non-null   object
 10  Average Cost for two  7527 non-null   int64
 11  Currency              7527 non-null   object
 12  Has Table booking     7527 non-null   int64
 13  Has Online delivery   7527 non-null   int64
 14  Is delivering now     7527 non-null   int64
 15  Switch to order menu  7527 non-null   int64
 16  Price range           7527 non-null   int64
 17  Aggregate rating      7527 non-null   float64
 18  Rating color          7527 non-null   object
 19  Rating text           7527 non-null   object
 20  Votes                 7527 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.2+ MB

In [6]:
pd.set_option('display.max_columns', None)
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619

In [7]:
df.shape

(7527, 21)

In [33]:
df1 = df.copy()

In [34]:
# renomar as colunas do dataset
df1 = rename_columns(df1)
df1.head(2)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619

In [35]:
df1['restaurant_id'].value_counts()

restaurant_id
3900267     3
18691230    3
21546       2
2900232     2
2800579     2
           ..
16540543    1
18578049    1
18579064    1
16541680    1
16540470    1
Name: count, Length: 6942, dtype: int64

In [36]:
df1_drop_duplicates = df1.drop_duplicates(subset=['restaurant_id'])

In [37]:
df1 = df1_drop_duplicates.copy()
df1.shape

(6942, 21)

In [38]:
# remover colunas que não serão utilizadas
df1 = df1.drop('switch_to_order_menu', axis='columns')
df1.head(2)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,4,4.7,3F7E00,Excellent,469