# EDA

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("../dataset/zomato_curated.csv")

In [13]:
pd.set_option('display.max_columns', None)
df.head(2)

,restaurant_id,restaurant_name,country_code,country_name,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619
1,6314542,Blackbird,162,Philippines,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,3100,Botswana Pula(P),0,0,0,4,4.7,3F7E00,Excellent,469

In [5]:
df.dtypes

restaurant_id             int64
restaurant_name          object
country_code              int64
country_name             object
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
dtype: object

In [6]:
df.shape

(6929, 21)

## Visão Geral

1. Quantos restaurantes únicos estão registrados?

In [17]:
df['restaurant_id'].nunique()

6929

 2. Quantos países únicos estão registrados?

In [7]:
df['country_code'].nunique()

15

3. Quantas cidades únicas estão registradas?

In [19]:
df['city'].nunique()

125

4. Qual o total de avaliações feitas?

In [20]:
df['votes'].sum()

np.int64(4194533)

 5. Qual o total de tipos de culinária registrados?

In [21]:
df['cuisines'].nunique()

165

In [22]:
df.head(2)

,restaurant_id,restaurant_name,country_code,country_name,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619
1,6314542,Blackbird,162,Philippines,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,3100,Botswana Pula(P),0,0,0,4,4.7,3F7E00,Excellent,469

## Visão País

1. Qual o nome do país que possui mais cidades registradas?

In [47]:
# nome do pais que possui mais cidades registradas
pais_mais_cidades = df['country_name'].value_counts().idxmax()
numero_de_cidades = df['country_name'].value_counts().max()
print(f" {pais_mais_cidades} é o país com maior número de cidades registradas, {numero_de_cidades} cidades registradas")

 India é o país com maior número de cidades registradas, 3111 cidades registradas

2. Qual o nome do país que possui mais restaurantes registrados?

In [48]:
pais_mais_restaurantes = df['country_name'].value_counts().idxmax()
pais_mais_restaurantes

'India'

3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [49]:
pais_com_mais_restaurantes_com_preco_igual_a_4 = df['country_name'][df['price_range'] == 4].value_counts().idxmax()
pais_com_mais_restaurantes_com_preco_igual_a_4

'United States of America'

4. Qual o nome do país que possui a maior quantidade de tipos de culinária
distintos?

In [50]:
# agrupar por país e contar o número de tipos  únicos de cozinhas para cada país
tipos_cozinhas_por_pais = df.groupby('country_name')['cuisines'].nunique()
print(f"TIpos de cozinhas por país:{tipos_cozinhas_por_pais}")

# encontrar o país com maior quantidade de tipos de cozinha
pais_com_maior_quantidade_de_tipos_de_cozinha = tipos_cozinhas_por_pais.idxmax()
print(f"País com maior quantidade de tipos de cozinha é {pais_com_maior_quantidade_de_tipos_de_cozinha}")

TIpos de cozinhas por país:country_name
Australia                   43
Brazil                      43
Canada                      42
England                     52
India                       77
Indonesia                   21
New Zeland                  37
Philippines                 14
Qatar                       31
Singapure                   21
South Africa                42
Sri Lanka                   26
Turkey                      28
United Arab Emirates        46
United States of America    74
Name: cuisines, dtype: int64
País com maior quantidade de tipos de cozinha é India

5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [51]:
# agrupar por pais e contar a maior quantidade de avaliações feitas
maior_quantidade_de_avaliacoes_por_pais = df.groupby('country_name')['votes'].max()
print(f"Maior quantidade de avaliações por país: {maior_quantidade_de_avaliacoes_por_pais}")

# encontrar o país com maior quantidade de avaliações
pais_com_maior_quantidade_de_avaliacoes = maior_quantidade_de_avaliacoes_por_pais.idxmax()
print(f"País com maior quantidade de avaliações é {pais_com_maior_quantidade_de_avaliacoes}")

Maior quantidade de avaliações por país: country_name
Australia                    2855
Brazil                         73
Canada                       2157
England                      1023
India                       41333
Indonesia                    4416
New Zeland                   1287
Philippines                  1832
Qatar                        1361
Singapure                     100
South Africa                 1462
Sri Lanka                     376
Turkey                       2015
United Arab Emirates         4227
United States of America     4036
Name: votes, dtype: int64
País com maior quantidade de avaliações é India

In [52]:
df.head(2)

,restaurant_id,restaurant_name,country_code,country_name,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619
1,6314542,Blackbird,162,Philippines,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,European,3100,Botswana Pula(P),0,0,0,4,4.7,3F7E00,Excellent,469

6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem
entrega?

In [53]:
# pais com maior quantidade de restaurantes com entrega
pais_que_mais_entregam = df['country_name'][df['has_online_delivery'] == 1]
pais_que_mais_entregam = pais_que_mais_entregam.value_counts().idxmax()
print(f"País com maior quantidade de restaurantes que entregam é {pais_que_mais_entregam}")

País com maior quantidade de restaurantes que entregam é India

7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam
reservas?

In [54]:
pais_maior_qtade_de_restaurantes_que_reservam = df['country_name'][df['has_table_booking'] == 1].value_counts().idxmax()
print(f"País com maior quantidade de restaurantes que reservam é {pais_maior_qtade_de_restaurantes_que_reservam}")

País com maior quantidade de restaurantes que reservam é India

8. Qual o nome do país que possui, na média, a maior quantidade de avaliações
registrada?

In [55]:
pais_media_maior_avaliacoes_registradas = round(df.loc[:, ['votes', 'country_name']].groupby(['country_name']).mean(
).sort_values(by='votes', ascending=False).reset_index(), 2)
pais_media_maior_avaliacoes_registradas.iloc[0, 0]
# pais_media_maior_avaliacoes_registradas

'Indonesia'

9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [56]:
pais_media_maior_nota_media_registrada = round(df.loc[:, ['aggregate_rating', 'country_name']].groupby(
    ['country_name']).mean().sort_values(by='aggregate_rating', ascending=False).reset_index(), 2)
pais_media_maior_nota_media_registrada

                country_name  aggregate_rating
0                  Indonesia              4.60
1                Philippines              4.46
2                  Singapure              4.44
3   United States of America              4.40
4                  Australia              4.37
5                     Canada              4.32
6                     Turkey              4.31
7                      Qatar              4.24
8                 New Zeland              4.16
9               South Africa              4.06
10                 Sri Lanka              4.06
11                   England              4.04
12                     India              4.04
13      United Arab Emirates              4.02
14                    Brazil              3.32

10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [57]:
pais_media_menor_nota_media_registrada = round(df.loc[:, ['aggregate_rating', 'country_name']].groupby(
    ['country_name']).mean().sort_values(by='aggregate_rating', ascending=True).reset_index(), 2)
pais_media_menor_nota_media_registrada
pais_media_menor_nota_media_registrada.iloc[0, 0]

'Brazil'

11. Qual a média de preço de um prato para dois por país?

In [58]:
media_preco_de_um_prato_para_dois_por_pais = round(df.loc[:, ['average_cost_for_two', 'country_name']].groupby(['country_name']).mean(
).sort_values(by='average_cost_for_two', ascending=False).reset_index(), 2)
media_preco_de_um_prato_para_dois_por_pais

                country_name  average_cost_for_two
0                  Indonesia             303000.00
1                  Australia             138959.78
2                  Sri Lanka               2579.38
3                Philippines               1227.82
4                      India                704.40
5               South Africa                339.23
6                      Qatar                174.00
7       United Arab Emirates                153.72
8                  Singapure                141.44
9                     Brazil                138.81
10                    Turkey                128.58
11                New Zeland                 62.15
12  United States of America                 55.03
13                   England                 43.51
14                    Canada                 41.86

## Visão Cidade

1. Qual o nome da cidade que possui mais restaurantes registrados?

In [14]:
cidade_com_mais_restaurantes = df.loc[:, ['city', 'restaurant_id']].groupby(['city']).count().sort_values(by='restaurant_id', ascending=False).reset_index()
cidade_com_mais_restaurantes.iloc[0, 0]

'Abu Dhabi'

2. Qual o nome da cidade que possui mais restaurantes com nota média acima de
4?

In [23]:
(df.loc[df['aggregate_rating'] > 4, ['restaurant_id', 'city']]
 .groupby('city')
 .count()
 .sort_values('restaurant_id', ascending=False)
 .reset_index()).iloc[0, 0]

'Bangalore'

3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de
2.5?

In [21]:
cidade_com_mais_restaurantes_nota_media_abaixo_de_2_e_meio = df.loc[:, ['city', 'restaurant_id', 'aggregate_rating']].groupby(
    ['city', 'restaurant_id']).mean().sort_values(by='aggregate_rating', ascending=False).reset_index()
cidade_com_mais_restaurantes_nota_media_abaixo_de_2_e_meio = cidade_com_mais_restaurantes_nota_media_abaixo_de_2_e_meio.loc[cidade_com_mais_restaurantes_nota_media_abaixo_de_2_e_meio['aggregate_rating'] < 2.5, ['city', 'restaurant_id']].groupby(
    ['city']).count().sort_values(by='restaurant_id', ascending=False).reset_index()
cidade_com_mais_restaurantes_nota_media_abaixo_de_2_e_meio.iloc[0, 0]

'Gangtok'

4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [62]:
cidade_com_maior_valor_medio_de_prato_para_dois = df.loc[:, ['city', 'average_cost_for_two']].groupby(['city']).mean(
).sort_values(by='average_cost_for_two', ascending=False).reset_index()
cidade_com_maior_valor_medio_de_prato_para_dois.iloc[0, 0]

'Adelaide'

5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária
distintas?

In [25]:
cidade_maior_qtdade_de_culinaria_distintas = df.loc[:, ['city', 'cuisines']].groupby(
    'city').nunique().sort_values(by='cuisines', ascending=False).reset_index().iloc[0, 0]
cidade_maior_qtdade_de_culinaria_distintas

'Birmingham'

6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
reservas?

In [26]:
cidade_com_maior_qtdade_de_restaurantes_que_entregam = df.loc[df['has_table_booking'] == 1, ['city', 'restaurant_id']].groupby(
    ['city']).count().sort_values(by='restaurant_id', ascending=False).reset_index()
cidade_com_maior_qtdade_de_restaurantes_que_entregam.iloc[0, 0]

'Bangalore'

7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
entregas?

In [27]:
cidade_maior_qtdade_restaurantes_que_entregam = df.loc[df['is_delivering_now'] == 1, ['city', 'restaurant_id']].groupby(
    ['city']).count().sort_values(by='restaurant_id', ascending=False).reset_index()
cidade_maior_qtdade_restaurantes_que_entregam.iloc[0, 0]

'Amritsar'

8. Qual o nome da cidade que possui a maior quantidade de restaurantes que
aceitam pedidos online?

In [67]:
cidade_maior_qtdade_restaurantes_que_aceitam_pedidos_online = df.loc[df['has_online_delivery'] == 1, ['city', 'restaurant_id']].groupby(
    ['city']).count().sort_values(by='restaurant_id', ascending=False).reset_index()
cidade_maior_qtdade_restaurantes_que_aceitam_pedidos_online.iloc[0, 0]

'Bhopal'